@tailwind base;
@tailwind components;
@tailwind utilities;
  


@layer base{
    h3{
        @apply md:text-5xl dark:text-[#03A688] text-6xl font-bold my-6 font-exo2;
    } 

    h4{
        @apply text-2xl dark:text-[#5C8374] font-semibold font-exo2;
    }

    p{
        @apply text-base
    }
    

}

@layer components {
    .bg-grids {
        background-color: var(--grids);
        backdrop-filter: blur(20px);
        -webkit-backdrop-filter: blur(8px);
        border: 1px solid rgba(255, 255, 255, 0.05);
        border-radius: 0.5rem;
      }
    .button-hover {
        @apply px-6 py-2 border-[1px] shadow-xl dark:border-neutral-800 border-neutral-200 backdrop-blur-md rounded-lg dark:hover:bg-transparent hover:bg-[#ddd4c2] transition hover:scale-110 duration-300 ease-in-out;
    }
    .button-navm {
        @apply  backdrop-blur-md transition hover:scale-110 duration-300 ease-in-out
    }
}